{% extends 'base.html' %}

{% block content %}
  <h1>Edit Post</h1>
  {% if user.is_authenticated %}
  <form action="" method="post">{% csrf_token %}
    <table width="100%">
      {{ form.as_table }}
    </table>
    <br>
    <table width="100%">
      <tr>
        <th></th>
        <td><input type="submit" value="Update" /></td>
    </tr>
    </table>


  </form>
  {% else %}
    You must be logged in to edit posts. <a href="/accounts/login/">Click here to login.</a>
  {% endif %}
{% endblock %}
